################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/BudgetApp/.vs/BudgetApp/v15/Server/sqlite3/db.lock
